@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/*home */
body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  /*menu for moblie */
  menu {
    display: none;
  }
  .menu-nav {
    display: none;
  }
}
/*nav*/
.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    cursor: pointer;
    list-style: none;
    float: left;
    margin: 0 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 120px;
    border: solid 1px #000;
    color: #000;
    font-size: 24px;
    font-family: "Source Code Pro", monospace;
  }
  /*hover*/
  li:hover {
    border: none;
    color: #000;
    background-color: #fff;
  }
}
/*container*/
.container {
  width: 400vw;
  height: 100%; /*End nav*/
  .home {
    float: left;
    width: 25%;
    height: 100%;
    /*left*/
    .left {
      float: left;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.61);

      /*name*/
      .name {
        padding: 10px 20px 10px 20px;
        background-color: #000;
        color: #fff;
        margin: 0px 0px 10px 0px;
        border-radius: 120px;

        h1 {
          position: relative;
          font-family: "Source Code Pro", monospace;
        }
        h1::before,
        h1::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        h1::before {
          background-color: #000;
          animation: textwriter 6s steps(26) infinite forwards;
        }
        @keyframes textwriter {
          100% {
            left: 100%;
          }
        }
        h1::after {
          background: #fff;
          width: 0.125em;
          animation: textwriter 6s steps(26) infinite forwards,
            writer 1s steps(26) infinite;
        }
        @keyframes writer {
          100% {
            background-color: transparent;
          }
        }
      }
      /*End name */
      /*job*/
      .job {
        padding: 10px 20px 10px 20px;
        background-color: #fff;
        color: #000;
        border-radius: 120px;
        // style for h1 (Full stack)
        h1 {
          position: relative;
          font-family: "Source Code Pro", monospace;
        }
        h1::before,
        h1::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        h1::before {
          background-color: #fff;
          animation: textwriter 10s steps(31) infinite forwards;
        }
        @keyframes textwriter {
          100% {
            left: 100%;
          }
        }
        h1::after {
          background: #000;
          width: 0.125em;
          animation: textwriter 10s steps(31) infinite forwards,
            writer 1s steps(26) infinite;
        }
        @keyframes writer {
          100% {
            background-color: transparent;
          }
        }
      }
      /*end job*/
    }
    /*ENd left*/
    /*right */
    .right {
      float: right;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.51);
      /*image*/
      .image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 1px #000 solid;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      /*ENd image*/
    }
    /*end right*/
  }
  /*ENd Home*/
  /*skills */
  .skills {
    float: left;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.356);
    span {
      float: left;
      margin: 20px;
      width: 200px;
      height: 200px;
      border-radius: 20px;
      background-color: #fff;
      display: flex;
      box-shadow: 7px 4px 20px 4px rgba(0, 0, 0, 0.293),
        -6px -2px 20px 4px rgba(0, 0, 0, 0.375);
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    span:hover {
      padding: 10px;
      cursor: pointer;
    }
    .fa-html5 {
      //html logo
      color: red;
    }
    .fa-css3 {
      // css logo
      color: #167dbe;
    }
    .fa-sass {
      // sass logo
      color: #ce679a;
    }
    .fa-bootstrap {
      // bootstrap logo
      color: #6f11ef;
    }
    .fa-js {
      // javascrip logo
      color: yellow;
    }
    .fa-vuejs {
      // vuejs logo
      color: #68b281;
    }
    .fa-php {
      color: #000;
      background-color: #787cb4;
      border-radius: 50%;
    }
    // mysql span
    #mysql {
      img {
        width: 100%;
      }
    }
  }
  /*End skills*/
  /*about*/
  .about {
    float: left;
    width: 25%;
    height: 100%;
    background: rgba(0, 0, 0, 0.232);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      background: #000;
      color: #fff;
      margin: 0 0 10px 0;
      padding: 10px 20px 10px 20px;
      border-radius: 120px;
    }
  }
  /*End about*/
  /*contact*/
  .contact {
    background: rgba(0, 0, 0, 0.132);
    float: left;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      width: 200px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #fff;
    }
    a:nth-child(1) {
      background: #fff;
      color: blue;
    }
    a:nth-child(1):hover {
      background: blue;
      color: #fff;
    }
    a:nth-child(2) {
      color: red;
      background: #fff;
    }
    a:nth-child(2):hover {
      background: red;
      color: #fff;
    }
    a:nth-child(3) {
      color: #000;
      background: #fff;
    }
    a:nth-child(3):hover {
      background: #000;
      color: #fff;
    }
  }
  /**end contact*/
}
/*ENd container*/
::-webkit-scrollbar {
  color: #fff;
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  color: #fff;
  background-color: #fff;
  border-radius: 120px;
}

@media screen and (max-width: 900px) {
  /*moblie*/
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    /*button*/
    menu {
      display: block;
      position: fixed;
      top: 30px;
      right: 30px;

      .fa-bars {
        color: #000;
      }
    }
    /*nav for moblie just*/
    .menu-nav {
      display: none;
      width: 100%;
      height: 100vh;

      background-color: rgba(41, 40, 40, 1);
      position: fixed;
      z-index: 99;
      align-items: center;
      justify-content: center;
      .fa-times {
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
      }
      ul {
        list-style: none;
        a {
          text-decoration: none;
          background-color: #000;
          color: #fff;
          font-size: 20px;
          width: 200px;
          height: 40px;
          margin: 10px auto;
          border: 1px solid #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    /*body*/
    .nav {
      display: none;
    }
    /*container*/
    .container {
      width: 100vw;
      /*home*/
      .home {
        width: 100%;
        float: auto;
        /*left*/
        .left {
          width: 100%;
          float: auto;
          height: 50%;
          /*name*/
          .name {
            font-size: 10px;
            padding: 15px;
            margin: 0px 0px 10px 0px;
            border-radius: 0;
          }
          /*job*/
          .job {
            font-size: 10px;
            padding: 15px;
            margin: 0px 0px 10px 0px;
            border-radius: 0;
          }
        }
        /*right*/
        .right {
          width: 100%;
          float: auto;
          height: 50%;
        }
      } /*end home*/
      /*skills*/
      .skills {
        float: auto;
        width: 100%;
        height: fit-content;
        .skill {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      } /*end skills*/
      /*about*/
      .about {
        float: auto;
        width: 100%;
        h1 {
          padding: 5px;
          border-radius: 10px;
          font-size: 25px;
        }
      }
      /*end about*/
      /*contact*/
      .contact {
        float: auto;
        width: 100%;
        a {
          width: 300px;
          height: 80px;
          margin: 10px auto;
          font-size: 40px;
        }
        a:nth-child(1) {
          background: blue;
          color: #fff;
        }

        a:nth-child(2) {
          color: #fff;
          background: red;
        }

        a:nth-child(3) {
          color: #fff;
          background: #000;
        }
      } /*End contact*/
    } /*end container*/
  } /*end body*/
}
/*end moblie*/
